<header class="header" style="margin-right: 100px;">
    <div class="container">
      <div class="left">
        <span (click)="gotoHome()">
          <h1 class="name">{{name}}</h1>
        </span>
      </div>
      <div class="right" >
        <nav>
          <ul>
           <!--<li><a href="#" (click)="gotoResume()">Resume</a></li>
            <li><a href="#" (click)="gotoProject()">Projects</a></li> --> 
            <li><a href="#" (click)="gotoContact()">Contact 11</a></li>
          
          </ul>
        </nav>
      </div>
    </div>
  </header>
  