<!-- <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <a href="https://www.instagram.com/swatii_trivedi?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
          <i class="fab fa-instagram"></i> Follow us on Instagram
        </a>
        <p>&copy; 2024 Swati Trivedi. All rights reserved.</p>
      </div>
    </div>
  </footer> -->

  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section left">
          <a href="http://linkedin.com/in/swati-trivedi-" target="_blank">
            <i class="fab fa-linkedin-in"></i>Follow us on Linkedin</a>
        </div>
        <div class="footer-section middle">
          <a href="https://www.instagram.com/swatii_trivedi?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
            <i class="fab fa-instagram"></i> Follow us on Instagram
          </a>
          <p>&copy; 2024 Swati Trivedi. All rights reserved.</p>
        </div>
        <div class="footer-section right">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=trivediswati443@gmail.com" target="_blank" class="email-link">
            <i class="fas fa-envelope"></i> Email Us
          </a>
        </div>
      </div>
    </div>
  </footer>
  
  