<div class="contact-wrapper">
<div class="contact">
    <h2 style="color: aliceblue;">Contact Me</h2>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="">
      <div class="form-group">
        <label  style="color: aliceblue; " for="name">Name:</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label  style="color: aliceblue;" for="email">Email:</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      <div class="form-group">
        <label  style="color: aliceblue;" for="message">Message:</label>
        <textarea id="message" name="message" ngModel required></textarea>
      </div>
      <button style=" width: 99%;" type="submit">Send</button>
    </form>
  </div>
  </div>
  