
button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Center the form on the screen */
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Make the form look like a box */
.contact {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.contact input,
.contact textarea {
  width: 95%;
  max-width: 800px;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2); 
  color: white; /*
}

.form-group {
  margin-bottom: 20px;
}
.contact textarea::placeholder,
.contact input::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Lighter placeholder */
}