<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-header (contactPage)="contactPage($event)" (resumePage)="resumePage($event)" (homePage)="homePage($event)" (projectPage)="projectPage($event)"></app-header>
 <div class="overlay"></div>
<div class="main-container">
<main class="main" *ngIf="home">
  <div class="container" style="padding-bottom: 40px;padding-top: 40px;">
    <div class="profile">
     
      <img src="../assets/sw.jpeg.jpg" alt="Profile Photo" class="profile-photo">
    </div>
    <div class="description">
      <h1  style="color: aliceblue;">Welcome!</h1>
      <p  style="color: aliceblue;">
        <span class="word">Software</span>
        <span class="word"> development</span>
        <span class="word"> is</span>
        <span class="word"> a</span>
        <span class="word"> journey.</span>
        <span class="word"> Every</span>
        <span class="word"> bug</span>
        <span class="word"> fixed</span>
        <span class="word"> is</span>
        <span class="word"> a</span>
        <span class="word"> lesson</span>
        <span class="word"> learned.</span>
      </p>
    </div>
    <div class="container circles" style="margin: 15px; text-align: center;">
      <div class="circle-container">
        <div class="circle red" (click)="resumePage($event)">About </div>
     <!-- <div class="circle green" (click)="projectPage($event)">Projects</div>
        <div class="circle blue" (click)="contactPage($event)">Contact</div> -->  
      </div>
    </div>
  </div>
  
</main>
<app-contact *ngIf="contact"></app-contact>
<app-resume *ngIf="resume"></app-resume>
<app-project *ngIf="project"></app-project>
<app-footer class=""></app-footer>
</div>

