<section id="work-experience-section" class="column-strip">
    <div class="column">
        <div class="column-content">
            <h2>Work Experience</h2>
        </div>
    </div>
    <div class="column">
        <div class="column-content">
            <label><b>Adopt net tech ahmedabad</b></label>
            <p>November 2022 - July 2023</p>
        </div>
    </div>
    <div class="column">
        <div class="column-content">
            <h3></h3>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        </div>
    </div>
</section>
<section id="work-experience-section" class="column-strip">
    <div class="column">
        <div class="column-content">
            <h2>Work Experience</h2>
        </div>
    </div>
    <div class="column">
        <div class="column-content">
            <label><b>Cahoot technologies ahmedabad</b></label>
            <p>December 2023 - Present</p>
        </div>
    </div>
    <div class="column">
        <div class="column-content">
            <h3>Developer</h3>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        </div>
    </div>
</section>