<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title  style="color: rgb(237, 233, 233);">My Projects</title>
  <link rel="stylesheet" href="project.component.css">
</head>
<body>
    <h1 style="color: rgb(237, 233, 233);" style="text-align:left; margin-left:100px; margin-top:30px;"> Projects</h1>
    <hr  style="color: rgb(237, 233, 233);">
  <table>   
    <thead>
      <tr>
        <th><h2 style="width:500px; text-align:center; color: rgb(237, 233, 233);">Cahoot Technologies <span class="light-text" style="color: rgb(237, 233, 233);">(Dec 2024 - Present)</span></h2></th>
        <th style="width:200px;"></th>
        <th style="width:500px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-bottom">
        <td  style="width:500px;">  </td>
        <td  style="width:200px; text-align: center;vertical-align: top; padding-right: 20px; color: rgb(237, 233, 233);">CTMS (Clinical Trial Management System)</td>
        <td  style="width:500px; padding-left:10px; color: rgb(237, 233, 233);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
        <hr  style="color: rgb(237, 233, 233);">
    </tr>
    <br>
     
      <tr class="border-bottom">
        <td  style="width:500px;"></td>
        <td  style="width:200px; text-align: center;vertical-align: top; padding-right: 20px; color: rgb(237, 233, 233);">EDC</td>
        <td  style="width: 500px; padding-left:10px; color: rgb(237, 233, 233);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
        <hr style="color: rgb(237, 233, 233);">
    </tr>
      <br>
      <tr class="border-bottom">
        <td  style="width:500px;"></td>
        <td  style="width:200px;  text-align: center;vertical-align: top; padding-right: 20px; color: rgb(237, 233, 233);">eTMF (Electronic Trial Master Folder)</td>
        <td  style="width:500px; padding-left:10px; color: rgb(237, 233, 233);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
      </tr>
    </tbody>
  </table>
  <hr style="color: rgb(237, 233, 233);">
  <table>   
    <thead>
      <tr>
        <th><h2 style="width:500px; text-align:center; color: rgb(237, 233, 233);">Adopt Net Tech Pvt. Ltd <span class="light-text" style="color: rgb(237, 233, 233);">(Nov 2024 - July 2023)</span></h2></th>
        <th style="width:250px;"></th>
        <th style="width:500px;"></th>
      </tr>
    </thead>
     <tbody>
      <tr class="border-bottom">
        <td  style="width:500px;">  </td>
        <td  style="width:200px; text-align: center;vertical-align: top; padding-right: 20px; color: rgb(237, 233, 233);">CTMS (Clinical Trial Management System)</td>
        <td  style="width:500px; padding-left:10px;color: rgb(237, 233, 233);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
        <hr  style="color: rgb(237, 233, 233);">
    </tr>
     <br>
      <tr class="border-bottom">
        <td  style="width:500px;"></td>
        <td  style="width:200px; text-align: center;vertical-align: top; padding-right: 20px; color: rgb(237, 233, 233);">EDC</td>
        <td  style="width: 500px; padding-left:10px; color: rgb(237, 233, 233);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
        <hr  style="color: rgb(237, 233, 233);">
    </tr>
    <br>
      <tr class="border-bottom">
        <td  style="width:500px;"></td>
        <td  style="width:200px;  text-align: center;vertical-align: top; padding-right: 20px; color: rgb(237, 233, 233);">eTMF (Electronic Trial Master Folder)</td>
        <td  style="width:500px; padding-left:10px; color: rgb(237, 233, 233);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
